## Notes

#### What I'm Asking

- How does the victim's relationship to their murderer vary from state to state?
- How does it vary from region to region? MAYBE FOCUS ON REGION INSTEAD OF STATE?
- Compare relationship of murder to relationship status (census?)

#### Data to Find

- Find victim RELATIONSHIP data by STATE
- Compare to victim GENDER and AGE
- Dataframe of the max and min states for some of the data

#### Charts to Create

- Heat maps?
- Bar charts for 

#### Questions

- How many years? Just pick one?
- Select a handful of relationships? Do all? Edit them down to create broader categories?

#### Relationship Types
- Acquaintance
- Babysittee
- Boyfriend/girlfriend
- Child of boyfriend/girlfriend
- Child
- Common law spouse
- Employee
- Employer
- Friend
- Grandchild
- Grandparent
- Homosexual relationship
- In-law
- Neighbor
- Other family member
- Otherwise known
- Parent
- Relationship unknown
- Sibling
- Stepchild
- Spouse
- Stepparent
- Stepsibling
- Stranger
- Offender
- Ex-spouse

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import csv

from pprint import pprint

# Import DATA.GOV API key ......................REMEMBER TO PLUG IN YOUR OWN KEY NAME HERE
from api_keys import km_dg_key

# Output File (CSV)
output_data_file = "output_data/fbi_crime_data_state.csv"

In [3]:
#Clunky but works.  There are 3 pages of data for states.  
#This pulls the data for each page and combines it all into one usable dataframe: state_data

state_qry = "https://api.usa.gov/crime/fbi/sapi/api/states?api_key=" + km_dg_key 
state_results_1 = requests.get(state_qry, params={'page':0}).json()
state_results_2 = requests.get(state_qry, params={'page':1}).json()
state_results_3 = requests.get(state_qry, params={'page':2}).json()

sr1_df = pd.DataFrame(state_results_1['results'])
sr2_df = pd.DataFrame(state_results_2['results'])
sr3_df = pd.DataFrame(state_results_3['results'])


state_data = pd.concat([sr1_df, sr2_df, sr3_df])
state_data.head()

   region_code state_abbr  state_fips_code  state_id      state_name
0            4         AK              2.0         1          Alaska
1            3         AL              1.0         2         Alabama
2            3         AR              5.0         3        Arkansas
3           99         AS             60.0         4  American Samoa
4            4         AZ              4.0         5         Arizona

In [4]:
#This is the same series created before
states = (state_data.iloc[:,1]).astype(str)

#Opened an empty list to initialize a dataframe
empty_list = []

relDF = pd.DataFrame(empty_list)

#Creating columns on list based on the returned data for one state
relDF["State"] = ""
relDF["Year"] = ""
relDF["Acquaintance"] = ""
relDF["Babysittee"] = ""
relDF["Boyfriend or Girlfriend"] = ""
relDF["Child of Boyfriend or Girlfriend"] = ""
relDF["Child"] = ""
relDF["Common Law Spouse"] = ""
relDF["Employee"] = ""
relDF["Employer"] = ""
relDF["Friend"] = ""
relDF["Grandchild"] = ""
relDF["Grandparent"] = ""
relDF["Homosexual Relationship"] = ""
relDF["In-Law"] = ""
relDF["Neighbor"] = ""
relDF["Other Family Member"] = ""
relDF["Otherwise Known"] = ""
relDF["Parent"] = ""
relDF["Unknown"] = ""
relDF["Sibling"] = ""
relDF["Stepchild"] = ""
relDF["Spouse"] = ""
relDF["Stepparent"] = ""
relDF["Stepsibling"] = ""
relDF["Stranger"] = ""
relDF["Offender"] = ""
relDF["Ex-Spouse"] = ""

#This is the loop to fill the dataframe.  This should work for any of us pulling the data from the FBI
#state APIs, with just tweaking the url, keyword and return information.

#The loop stores the return results for an individual state.  Then it loops through the return results to 
#populate each row in the empty dataframe created before.  Once it has looped through all of the return info,
#it goes back to the beginning and does the same for the next state in states.

#I found the "dataframe.append" bit on a website and it turned out to be the key to filling in the dataframe
#because it ignores index numbers and just appends to the next empty row available.  

for i in states:
    
    state = i 
    
    rel_query_url = "https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/homicide/victim/states/"+ state +"/relationship?api_key=" + km_dg_key
    rel_response_state = requests.get(rel_query_url).json()
    
    for i in rel_response_state['results']:
        
        relDF = relDF.append({'State': state, 
                          'Year': i['data_year'], 
                          'Acquaintance': i['acquaintance'],
                          'Babysittee' : i['babysittee'],
                          'Boyfriend or Girlfriend' : i['boyfriend_girlfriend'],
                          'Child of Boyfriend or Girlfriend' : i['child_boyfriend_girlfriend'],
                          'Child' : i['child'],
                          'Common Law Spouse' : i['common_law_spouse'],
                          'Employee' : i['employee'],
                          'Employer' : i['employer'],
                          'Friend' : i['friend'],
                          'Grandchild' : i['grandchild'],
                          'Grandparent' : i['grandparent'],
                          'Homosexual Relationship' : i['homosexual_relationship'],
                          'In-Law' : i['in_law'],
                          'Neighbor' : i['neighbor'],
                          'Other Family Member' : i['other_family_member'],
                          'Otherwise Known' : i['otherwise_known'],
                          'Parent' : i['parent'],
                          'Unknown' : i['relationship_unknown'],
                          'Sibling' : i['sibling'],
                          'Stepchild' : i['stepchild'],
                          'Spouse' : i['spouse'],
                          'Stepparent' : i['stepparent'],
                          'Stepsibling' : i['stepsibling'],
                          'Stranger' : i['stranger'],
                          'Offender' : i['offender'],
                          'Ex-Spouse' : i['ex_spouse'],
                             },
                          ignore_index = True)
    
    
relDF.head()

,State,Year,Acquaintance,Babysittee,Boyfriend or Girlfriend,Child of Boyfriend or Girlfriend,Child,Common Law Spouse,Employee,Employer,...,Parent,Unknown,Sibling,Stepchild,Spouse,Stepparent,Stepsibling,Stranger,Offender,Ex-Spouse
0,AL,1991,136,0,48,0,9,4,3,0,...,7,86,6,0,38,2,0,179,0,6
1,AL,1992,76,0,17,0,7,5,0,0,...,3,126,4,1,20,1,0,45,0,4
2,AL,2006,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,0
3,AL,2008,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
4,AL,2009,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0